.top{
    padding:20px;
}
#rowheader{
    background-color:black;
    color:white;
    font-size:20px;
    display:flex;
    justify-content:space-around;
    margin:10px;
}

#rowmid{
    background-color:black;
    color:white;
    font-size:20px;
    display:flex;
    justify-content:space-around;
    margin:20px ;
}

#rowaboutme{
    margin:30px;
    background-color:grey;
    padding:10px;
}

a{
    text-decoration: none;
    color:white;
}

#rowcontact{
    background-color:black;
    font-size:20px;
    display:flex;
    flex-direction:column;
    padding:20px;
}

#topI{
    padding-top:20px;
    padding-left:20px;
    padding-right:20px;
}

#midI{
    padding-left:20px;
    padding-right:20px;
}

#botI{
    padding-bottom:20px;
    padding-left:20px;
    padding-right:20px;
}