#email{
    display:flex;
    background-color: blue;
    padding: 20px;
    border-radius: 10px;
}
#phone{
    display:flex;
    background-color: lightblue;
    padding: 20px;
    border-radius: 10px;
    
}

a{
    text-decoration: none;
    color:white;
}

.top{
    padding:20px;
}
#rowheader{
    background-color:black;
    color:white;
    font-size:20px;
    display:flex;
    justify-content:space-around;
    margin:10px;
}

#rowmid{
    background-color:black;
    color:white;
    font-size:20px;
    display:flex;
    justify-content:space-around;
    margin:20px ;
    
}
#cI{
    padding:0px;
}

.name{
    padding-top:45px;

}


#rowcontact{
    background-color:black;
    color:white;
    font-size:20px;
    display:flex;
    flex-direction:column;
    padding:20px;
}

#rowaboutme{
    display: flex;
    justify-content:space-around;
}

.mid{
    background-color:white;
    color:black;
    align-items:center;
    font-size:50px;
    margin-top:5px;
    margin-bottom:5px;
}

.aboutme{
    border:1px solid black;   
}