.top{
    padding:20px;
}
#rowheader{
    background-color:black;
    color:white;
    font-size:20px;
    display:flex;
    justify-content:space-around;
    margin:10px;
}

#rowmid{
    background-color:black;
    color:white;
    font-size:20px;
    display:flex;
    justify-content:space-around;
    margin:20px ;
    
}

#rowcontact{
    display:flex;
    flex-direction:column;
    padding:20px;
}

.project{
    color:#3227A4;
    padding:20px;
    
}

.p{
    padding:10px;
    padding-left:60px;
    background-color:grey;
}

#info{
    display:flex;
    flex-wrap:wrap;
    text-align: justify;
    text-justify: inter-word;
    
}

#rowaboutme{
    margin:30px;
    padding-bottom:20px;
    background-color:grey;
}

a{
    text-decoration: none;
    color:white;
}

#rowcontact{
    background-color:black;
    font-size:20px;
}